<nav>
    <h1 class="logo-heading"> <em>recipe collection</em></h1>
    <div class="tabs d-flex justify-content-around">
        <!--        <button type="button">create recipe</button>-->
        <!--        [routerlink]="[/all-recipes]"-->
        <!--        (click)="openSearchModal()"-->
<!--        <button type="button" >search recipes</button>-->
        <button [routerLink]="['/all-users']" type="button">all users</button>
        <button [routerLink]="['/home']" type="button">all recipes</button>
        <create-recipe></create-recipe>
    </div>
</nav>

<div class="container">
    <div class="row" *ngFor="let recipe of recipes">
        <div class="d-flex">
            <div class="row recipe-card">
                <h1 [routerLink]="['/recipes', recipe._id]" class="recipe-header">{{recipe.recipeName}}</h1>
                <p class="recipe-info col-lg-12">{{recipe.description}}</p>
                <img src="{{recipe.pictureURL}}">
                <p class="recipe-info col-lg-6"><strong>Prep Time: </strong>{{recipe.prepTime}}</p>
                <p class="recipe-info col-lg-6"><strong>Cook Time: </strong>{{recipe.cookTime}}</p>
                <h3 class="section-header col-lg-12">Ingredients:</h3>
                <div class="recipe-info ingredients col-lg-12" *ngFor="let ingredients of recipe.ingredients">
                    <ul class="recipe-info col-lg-12">{{ingredients.amount}} {{ingredients.name}}</ul>
                </div>
                <h3 class="section-header col-lg-12">Directions:</h3>
                <ol>
                <div class="recipe-info directions col-lg-12" *ngFor="let step of recipe.directions">
                    <li class="recipe-info col-lg-12">{{step}}</li>
                </div>
                </ol>

                <div class="col-lg-12">
                    <update-recipe></update-recipe>
                    <delete-recipe></delete-recipe>
                    <create-review></create-review>
                </div>

                <h3 class="section-header col-lg-12">User Reviews:</h3>
                <div class="recipe-info reviews col-lg-12" *ngFor="let review of recipe.reviews">
                    <p class="recipe-info col-lg-12"><strong>User Id: </strong>{{review.userReviewer}}</p>
                    <p class="recipe-info col-lg-12"><strong>Stars out of 5: </strong>{{review.ratingReview}}</p>
                    <p class="recipe-info col-lg-12"><strong>Review: </strong> <br> {{review.reviewDescription}}</p>
                    <update-review></update-review>
<!--                    <button (click)="updateReview(recipe, review)" type="button"-->
<!--                            class="btn" style="word-break: break-all">update review</button>-->
                    <button [routerLink]="['/delete-review', recipe, review]" type="button"
                            class="btn" style="word-break: break-all"> delete review </button>
                </div>
            </div>
        </div>
    </div>
</div>



