.logo-heading{
    font-family: 'Bodoni Moda', serif;
    font-size: 600%;
    font-weight: 900;

    text-align: center;
}

.tabs{
    margin: 20px;
    font-family: 'Bodoni Moda', serif;

}

button{
    font-weight: 80;
    padding: 15px;
    border: solid black;
    border-radius: 15px;
    background-color: white;
}

.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.navbar-text {
    margin-left: 15px;
}
